{% extends 'base.html.twig' %}
    {% block body %}
    <h1>User index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Adresse</th>
                <th>Ville</th>
                <th>Mail</th>
                <th>Tel</th>
                <th>Formations</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.Nom }}</td>
                <td>{{ user.Prenom }}</td>
                <td>{{ user.Adresse }}</td>
                <td>{{ user.Ville }}</td>
                <td>{{ user.Mail }}</td> 
                <td>{{ user.Tel }}</td>
                <td> {% for formation in user.formations %}
                    {{formation.Titre}}
                
                </td>
            </tr>
        {% endfor %}
        </tbody>
    {% endblock %}
</body>
</html>